.idea
.data
.ipynb_checkpoints
infra/

data/delete/
data/box_bump/
data/torus_bump/
data/sdf/

synthetic_data/box_bump/
synthetic_data/torus_bump/
synthetic_data/sdf/
synthetic_data/_delete/

preprocessing/binary_segmentations/
preprocessing/_delete/
preprocessing/groomed_data/

utils/__pycache__/

src/ShapeWorks/data/
src/ShapeWorks/groomed/
src/ShapeWorks/shape_model/
src/ShapeWorks/_delete/
src/ShapeWorks/.ipynb_checkpoints/
src/ShapeWorks/orig_particle_reconstruction/
src/ShapeWorks/pca_particle_reconstruction/
src/ShapeWorks/mesh_left/
src/ShapeWorks/mesh_right/
src/ShapeWorks/reconstruction_left/
src/ShapeWorks/reconstruction_right/
src/ShapeWorks/pca_reconstruction_left/
src/ShapeWorks/pca_reconstruction_right/
src/ShapeWorks/demographics.csv

src/DeepLearning/.ipynb_checkpoints/

